* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5em;
}

body {
    margin: auto;
    background-color: #ffffff;
}

nav {
    display: flex;
    width:100%;
    background-color: #f5f6fa;
    position: fixed;
    z-index: 10;

}

nav ul {
    margin-top: 16px;
    float: right;
    list-style: none;
    text-decoration: none;
    transition: 0.1s;
}

nav li {
    display: inline-block;
    border-bottom: 3px solid black;
    border-radius: 3px;
    margin: 3px 15px;
    
    padding: 1px 4px;
}

nav a{
    font-size: 16px;
    text-decoration: none;
    color: black;
    font-weight: 500;
}

nav ul .active {
    border-bottom: 3px solid red;
}

nav li:hover {
    border-bottom: 3px solid red;
    transition-delay: 50ms;
    transition-duration: 150ms;

}


.show-menu-btn, .hide-menu-btn {
    display: inline-block;

    transition: 0.4s;
    color: black;
    cursor: pointer;
    display: none;
}


.show-menu-btn {
    margin-top: 18px;
    float: right;
}

.show-menu-btn i,
.hide-menu-btn i {
    font-size: 30px;
}




#chk {
    position: absolute;
    visibility: hidden;
    z-index: -411;
}

#logo {
    margin: 2px 20px -3px 20px;
    border: 0;
    padding: 0;
    height: 70px;
    transition: 0.1s;
    
}



.container {
    max-width: 1900px;
    width: 90%;
    margin: 0 auto;
}


main {
    padding-top: 70px;
    background-color: #ffffff;
    padding-bottom: 40px;
    text-align: center;
    position: relative;
}

#main-logo {
    display: block;
    margin: 0 auto;
    width: 100%;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 1900px;
    width: 100%;
    box-sizing: border-box;
    grid-auto-rows: minmax(160px, auto);
    gap: 15px;
    padding: 10px;
    margin: 30px auto;
}

.wrapper .box {
    background: rgba(23, 71, 83, 0.1);
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    box-shadow: 0 0 3px rgba(51, 51, 51, 0.4);
 
    text-align: center;
}

.contacts .box p,
.centerofbox {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.wrapper .box:hover{
    box-shadow: 0 0 10px rgba(51, 51, 51, 0.4);
}
.wrapper .box:hover h1 {
    color: rgb(141, 0, 0)
}

.wrapper #center {
    overflow: hidden;
    padding: 5%;
    border-radius: 5px;
    vertical-align: middle;
}

.wrapper #center img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}


.wrapper .box::before {
    content: '';
    position: absolute;
    top:0;
    left: -30%;
    width:80%;
    height: 100%;
    background: rgb(255,255,255);
    background: linear-gradient(45deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.07) 49%, rgba(255,255,255,0.15) 100%);
    transform: skewX(-45deg);
    transition: width .1s;
}

.wrapper .box:hover::before {
    content: '';
    position: absolute;
    top:0;
    left: -30%;
    width:100%;
    height: 100%;
    background: rgb(255,255,255);
    background: linear-gradient(45deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.15) 49%, rgba(255,255,255,0.3) 100%);
    transform: skewX(-45deg);
    transition-duration: .1s;
    transition-timing-function: ease-in-out;
}

.wrapper  #box1 {
    grid-column: 1/3;
    grid-row: 1;
}
.wrapper  #box2 {
    grid-column: 3;
    grid-row: 1/3;
}
.wrapper  #box3 {
    grid-row: 2/4;
    grid-column: 1;
}
.wrapper #center {
    grid-row: 2;
    grid-column: 2;

}
.wrapper #box4 {
    grid-column: 2/4;
    grid-row: 3;
}

.wrapper .box::after {
    content: '';
    position: absolute;
    top:0;
    left: -30%;
    width:0%;
    height: 100%;
    background: rgb(255,255,255);
    background: linear-gradient(45deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.2) 100%);
    transform: skewX(-45deg);
    transition: width .1s;
}
.wrapper .box:hover::after {
    content: '';
    position: absolute;
    top:0;
    left: -30%;
    width:40%;
    height: 100%;
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.1) 100%);
    transform: skewX(-45deg);
}

.wrapper h1 {
    font-size: 24px;
    margin: 5px;
    white-space: nowrap;
}

main #proud {
    width: 60%;
    font-size: 30px;
    margin: 30px auto;
    margin-bottom: 50px;
}

.section1 {
    margin: 10px;
}

.contacts {
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 1000px;
    margin: 20px auto;
    margin-bottom: 0;
    align-items: center;
    justify-content: space-around;
    background: rgb(188,78,156);
background: linear-gradient(90deg, rgba(188,78,156,1) 0%, rgba(248,7,80,1) 100%);
    border-radius: 60px;
    box-shadow: -5px 0 10px -5px rgba(0, 0, 0, .5), 0 5px 10px -5px rgba(0, 0, 0, .5), 5px 0 10px -5px rgba(0, 0, 0, .5);
}

.contacts .box {
    height: 60px;
    position: relative;
}
.contacts .box p {
    white-space: nowrap;
    font-size: 20px;
    color: white;

}
.contacts #iframe {
    border-radius: 0 0 60px 60px;
    overflow: hidden;
    width: 100%;
    height: 400px;
}

.servicelist {
    margin: 70px auto;
}

.servicelist ul {
    width: auto;
    margin: auto;
    max-width: 1900px;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
    
}

.servicelist a {
    display: block;
    position: relative;
    background: #EA2027;
    width: 220px;
    height: 120px;
    margin: 10px 0;
    border: 0;
    color: white;
    
}
.servicelist a div {
    font-size: 20px;
}
.servicelist a:hover {
    background: #ff6b6b;
}
.servicelist a:focus {
    outline:none;
}
.servicelist a:active {
    box-shadow: 0 0px 4px 0 rgba(0,0,0,0.2), 0 2px 5px 0 rgba(0,0,0,0.19);
    background: #ff0000;
    border: 1px solid white;
}
.servicelistin .item:hover {
    background: #eef1f3;
    box-shadow: inset 0 0px 5px rgba(0, 0, 0, 0.4);
    
}
.servicelistin .item:hover div {
    font-size: 22px;
}



footer {
    position: static;
    color: white;
    height: 200px;
    width: 100%;
    background: #141a1f;
}

footer h2 {
    margin: 10px;
}

.foot-flex {
    padding-top: 20px;
    display: flex;
    align-items: center;
}


.foot-box {
    flex: 1;
    margin: auto;
    text-align: center;
}

.foot-box2 {
    flex: 2;
    margin: auto;
    text-align: center;
}

.sharebox {
    display: flex;
    justify-content: center;

}

.sharebox a {
    display: inline-block;
    height: 40px;
    padding: 5px;
    margin: 5px;
    border-radius: 8px;
}
.sharebox .tg {
    border-radius: 30%;
}

.sharebox img {
    height: 40px;
    width: auto;

}

footer ul {
    list-style: none;
    text-decoration: none;
}

footer li {
    padding: 2px;
}

footer .foot-box a {
    font-size: 16px;
    color: white;
    text-decoration: none;
}
footer .foot-box .active {
    color: rgb(255, 0, 0);
}

.textcenter {
    font-size: 12px;
    width: 90%;
    padding-top: 20px;
    margin: auto;
    text-align: center;
}




.fb:hover {
    background-color: blue;
}
.tg:hover {
    background-color: rgb(0, 153, 255);
}
.ok:hover {
    background-color: rgb(255, 123, 0);
}
.insta:hover {
    background: rgb(131,58,180);
    background: linear-gradient(235deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
}
.yt:hover {
    background-color: rgb(255, 0, 0);
}


html:not([data-scroll='0']) nav {
    box-shadow: 0 0 .7em rgba(0, 0, 0, .5);

}

html:not([data-scroll='0']) #logo {
    height: 60px;
}

html:not([data-scroll='0']) nav ul {
    margin-top: 12px;
}

.shortnumber {
    max-width: 1900px;
    margin: auto;
    width: 100%;
    height: 200px;
    background: rgb(214,42,42);
background: linear-gradient(90deg, rgba(214,42,42,1) 0%, rgba(63,94,251,1) 100%);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.sidebox {
    text-align: center;
    color: white;
    
}

.sidebox h1 {
    font-size: 22px;
}
.sidebox p {
    font-size: 40px;
    font-weight: 700;
}
#shn p {
    font-size: 60px;
}

.stg {
    width: 200px;
    height: 200px;
    background: rgb(56, 159, 255);
    border-radius: 50%;
}
.intg {
    display: block;
    align-items: center;
}



.stg img {
    display: inline-block;
    margin-top: 45px;
    margin-left: -5px;
    width: 110px;
}
 

/* contacts */

.maincontact {
    position: static;
    margin-top: 50px;
    margin-bottom: 100px;
    width: 90%;
    float: right;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;  
    
}

.maincontact .info {
    width: 100%;
    flex: 3;
    height: 450px;
    color: black;
    display: flex;
    border-radius: 30px;
    border: 1px solid rgba(0, 0, 0, 0.24);
    position: relative;
    flex-direction: column;
    box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2), 0 5px 15px 0 rgba(0,0,0,0.19);
    animation: bganimation 20s infinite ease-in-out;
    background-image: linear-gradient(45deg, #eef2f3, #E0EAFC,#CFDEF3, #BDFFF3, #FAFFD1, #DBE6F6, #E9E4F0);
    background-size: 600% 600%;
}
.maincontact .img {
    position: relative;
    flex: 1;
    color: white;
    height: 450px;
    box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2), 0 5px 15px 0 rgba(0,0,0,0.19);
    background-color: red;
    border-radius: 30px 0 0 30px;
}
.maincontact  h1 {
    font-size: 24px;
    margin-top: 10px;
}
.maincontact .img h1 {
    font-size: 32px;
    margin-bottom: 20px;
}
.maincontact .img p {
    font-size: 18px;
}
.maincontact .info h2{
    font-size: 20px;
    margin-bottom: 10px;
}
.maincontact a {
    font-size: 25px;
    text-decoration: none;
    color: black;
}
.iframe2 {
    margin-top: 100px;
    width: 85%;
    overflow: hidden;
    border: 1px solid rgba(0, 0, 0, 0.226);
    border-radius: 0 30px 30px 0;
    height: 400px;
    box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2), 0 5px 15px 0 rgba(0,0,0,0.19);
    margin-bottom: 50px;
    
}
.iframe2 iframe {
    border-radius: 0 30px 30px 0;
}


/* Services.html */

.servicename {
    color: white;
    height: 80px;
    width: 100%;
    max-width: 1900px;
    margin: auto;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.247);
    background-image: linear-gradient(45deg, rgb(255, 0, 0), rgba(255, 30, 0, 0.89),rgba(255, 0, 64, 0.842),red, rgba(255, 61, 12, 0.897),rgba(255, 31, 79, 0.966), red);
    background-size: 500% 500%;
    animation: bganimation 15s infinite ease-in-out;
    position: relative;
    margin-top: 30px;

}
.servicename div {
    font-size: 30px;
}
.servicelistin {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1900px;
    height: auto;
    margin: auto;
    padding: 20px 5px;
    list-style: none;
    justify-content: space-evenly;
}
.servicelistin .item {
    width: 250px;
    background: #ecf0f1;
    display: inline-block;
    border-radius: 5px;
    height: 120px;
    margin: 5px;
    border: none;
    box-shadow: inset 0 0px 10px 0 rgba(0,0,0,0.4);
    
    transition: 0.15s;
    position: relative;
}
.servicelistin .item div {
    font-size: 20px;
    color: black;
    transition: 0.15s;
}



/* About.html */
.aboutshow {
    width: 100%;
    height: 500px;
    background-image: url('../img/akfa.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.aboutshow .darker {
    background: rgba(0, 0, 0, .65);
    width: 100%;
    height: 500px;
    position: relative;
}
.aboutshow .darker div {
    width: 100%;
}
.aboutshow h1 {
    font-size: 36px;
    color: white;
    font-weight: 600;
}
.aboutshow h2 {
    margin-top: 20px;
    font-size: 22px;
    color: white;
}
.aboutinfo .two {
    display: flex;
    width: 80%;
    height: 500px;
    margin: auto;
    align-items: center;
    justify-content: center;
}
.aboutinfo .about {
    width: 100%;
    position: relative;
    flex: 1;
}
.aboutinfo .two video {
    flex: 1;
    width: 400px;
    height: 300px;
}
.aboutinfo .about .centerofbox {
    width: 80%;
}
.aboutinfo .about h1 {
    font-size: 28px;
    margin-bottom: 10px;
}
main .pill {
    display: block;
    width: 70%;
    margin: auto;
    height: 220px;
    box-shadow: 10px 10px 0px grey;
    position: relative;
    margin-top: 30px;
    border: 1px solid rgb(78, 78, 78);
    border-radius: 110px;
    
    
    box-shadow: 0 1rem 1.25rem 0 rgba(68, 68, 68, 0.5),	0 -0.25rem 1.5rem rgb(99, 99, 99) inset, 0 0.75rem 0.5rem rgba(255,255,255, 0.4) inset, 0 0.25rem 0.5rem 0 rgb(188, 176, 190) inset;
}
main .pill div {
    width: 90%;
}

main .pill h1 {
    font-size: 26px;
    margin-bottom: 10px;

}


/* University.html */
.univerlogo {
    display: block;
    margin:0 auto;
    max-width: 1800px;
    padding: 0 25%;
    padding-top: 17px;
    animation: bganimation 15s infinite linear;
    background-image: linear-gradient(45deg,white, #b1e7f3, #e5c8f3, rgb(218, 255, 247), #baf8c7, #f5d1d6, #fffbd5, #baf1e0, #ffdde1, #cdf7ea, rgb(198, 241, 239),rgb(240, 243, 202) );
    background-size: 900% 900%;
    overflow: hidden;
    box-shadow: 20px 0 50px 10px rgba(0, 0, 0, 0.4)inset, -20px 0 50px 10px rgba(0, 0, 0, 0.4) inset;
}
.univerlogo img {
    width: 100%;
}
.section {
    max-width: 1900px;
    width: 90%;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.section .about {
    flex: 1;
    width: 100%;
    position: relative;
    height: 500px;
}
.section .about .centerofbox {
    margin:auto;
    width: 90%;
}
.section img {
    height: 500px;
}
.section .about p {
    font-size: 18px;
    margin: 5px 0;
}
.section .about a {
    text-decoration: none;
    color: black;
    font-weight: 600;
    border-bottom: 1px red solid;
}
.divider {
    max-width: 1900px;
    width: 100%;
    margin: auto;
    height: 200px;
    background-image: url('../img/univ2.jpg');
    background-attachment: fixed;
    background-size: cover;
    filter: brightness(70%);
    
}
#second .about {
    height: 200px;
    width: 100%;
}
#second .about .centerofbox {
    margin:0 auto;
    align-items: center;
    display: flex;
    flex-direction: column;
}
#second .about .centerofbox * {
    font-size: 20px;
    margin: 5px;
}



@keyframes bganimation {
    0% {
        background-position: 0% 100%;
    }
    
    50% {
        background-position: 100% 0%;
    }
    100% {
        background-position: 0% 100%;
    }
}


@media screen and (max-width: 800px) {
    .show-menu-btn, .hide-menu-btn {
        display: block;
    }

    nav ul {
        position: fixed;
        margin-top: 0;
        width: 100%;
        height: 100vh;
        background: #ecf0f1;
        right: -100%;
        top: 0;
        text-align: center;
        padding: 80px 0;
        line-height: normal;
        transition: .5s;
    }

    nav ul li {
        border: 0;
        display: block;
        padding: 10px;
        border: 0;
        text-align: center;
    }
    nav ul .active {
        border:0;
    }
    nav ul .active a{
        border-right: 4px solid red;
        border-left: 4px solid red;
    }

    nav ul a {
        font-size: 20px;
        display: inline-block;
        width: 100px;
        padding: 10px 50px;
        border-right: 3px solid rgb(0, 0, 255);
        border-left: 3px solid blue;
        border-radius: 4px;
    }

    nav ul a:hover {

        border-right: 4px solid red;
        border-left: 4px solid red;
    }

    nav ul li:hover {
        border: 0;
    }
    .hide-menu-btn{
        position: absolute;
        top: 30px;
        right: 35px;
    }

    #chk:checked ~ ul {
        right: 0
    }

    .contacts {
        width: 100%;
        border-radius: 0;
        margin-bottom: 0;
    }
    .contacts #iframe {
        border-radius: 0;
    }
    main {
        padding-bottom: 10px
    }
    #proud {
        width: 95%;
        padding:0;
        margin: 0 auto;
    }
    .shortnumber {
        height: 20vh;
    }
    .stg img {
        margin: 0;
        height: 15vh;
        width: auto;
    }
    .sidebox h1 {
        font-size: 18px;
    }
    .sidebox p {
        font-size: 24px;
    }
    #shn p {
        font-size: 40px;
    }
    .stg {
        height: 20vh;
        width: 20vh;
    }
    .intg {
        margin: 2vh;
    }
    .stg img {
        width: 15vh;
    }
    .wrapper{
        grid-auto-rows: minmax(150px, auto);
    }
    .wrapper h1 {
        font-size: 20px
    }
    footer {
        height: auto;
    }
    .foot-flex {
        flex-direction: column;
        align-items: center;
    }
    .sharebox {
        margin: 10px auto;
    }
    .foot-box ul {
        display: flex;
    }
    .foot-box ul li {
        margin: 10px;
    }
    .servicelistin {
        width: 100%;
    }
    .servicelistin .item {
        margin: 10px 15px;
        width: 200px;
        height: 120px;
    }
    .aboutinfo {
        width: 90%;
        margin: auto;
    }
    .aboutinfo .two {
        width: 100%;
        margin: auto;
        margin-top: 20px;
        flex-direction: column-reverse;
    }
    .aboutinfo .two .about {
        width: 100%;
        margin: auto;
    }
    .aboutinfo .two video {
        height: 360px;
        width: 500px;
    }
    main .pill {
        width: 95%;
    }
    .univerlogo {
        padding: 0 5%;
        padding-top: 17px; 
    }
    .section img {
        display: none;
    }
    #second  {
        flex-direction: column;
        height: 400px;
    }
    #second .about {
        display: block;
    }
    .maincontact {    
        display: flex;
        flex-direction: column-reverse;
        height: 550px;
        width: 100%;
    }
    .maincontact .img {
        width: 100%;
        height: 300px;
        display: block;
        border-radius: 30px;
    }
}

